.App {
  text-align: center;
}

#root {
  display: flex;
}

.page {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.page-header {
  width: 100%;
}

/* Homepage */
#homepage {
}

#homepage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  position: relative;
  height: 12rem;
  width: 12rem;
}

#logo > * {
  height: 100%;
  width: 100%;
}

#logo > img {
  object-fit: contain;
}

#logo > h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Other pages */
#display-page,
#submission-page {
  width: 80%;
}

#sidebar,
#main {
  /* padding: 1rem; */
}

#sidebar {
  width: 20%;
  background-color: lightgoldenrodyellow;
}

#main {
  width: 80%;
  background-color: lightsalmon;
}

#main > header {
  width: 100%;
}

#content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

#content-wrapper > *:first-child {
  width: 67%;
  height: 100%;
}

#content-wrapper > section {
  background-color: palegreen;
  border: 0.125rem solid black;
}

/* Forms */

.form-create {
  width: 75%;
  display: flex;
  flex-direction: column;
}

form > input {
  padding: 1rem 0;
}

/* Lists */

.display-list > li:hover {
  cursor: pointer;
  background-color: grey;
}
