.App {
  text-align: center;
}

#root {
  display: flex;
}

#sidebar,
#main-content {
  padding: 1rem;
}

#sidebar {
  width: 20%;
}

#main-content {
  width: 80%;
}

.component-display {
  background-color: palegreen;
  border: 0.125rem solid black;
  height: 10rem;
  width: 20rem;
}

/* Forms */

.form-input-field {
  padding: 1rem 0;
  display: flex;
}

.form-input-field > label {
  width: 20%;
}
